In [ ]:
def myfunc(*args):
    mylist = []
    for argument in args:
        if argument % 2 == 0:
            mylist.append(argument)
        else:
            continue
    return mylist

In [ ]:
myfunc(1,2,3,4)

In [ ]:
def myfunc1(string):
    newstring = ''
    for i in range (0,len(string)):
        if i % 2 == 0:
            newstring += string[i].upper()
        elif i % 2 != 0:
            newstring += string[i].lower()
    return newstring

In [ ]:
myfunc1('Talala')

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
lesser_of_two_evens(2,4)

In [ ]:
lesser_of_two_evens(2,5)

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter.

animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    words = text.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [ ]:
animal_crackers('Levelheaded Llama')

In [ ]:
animal_crackers('Crazy Kangaroo')

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False.

makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

In [ ]:
makes_twenty(12,8)

In [ ]:
makes_twenty(2,3)

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name.

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [ ]:
def old_macdonald(name):
    new_name = name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]
    return new_name

In [ ]:
old_macdonald('macdonald')

In [ ]:
old_macdonald('natalia')

MASTER YODA: Given a sentence, return a sentence with the words reversed.

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [ ]:
def master_yoda(text):
    words = text.split()
    words.reverse()
    new_order = " ".join(words)
    return new_order

In [ ]:
master_yoda("My name is Natalia")

In [ ]:
text = "Hello World, I love you"

In [ ]:
words = text.split()

In [ ]:
word = words.reverse()

In [ ]:
words

In [ ]:
" ".join(words)

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200.

almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number.

In [ ]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [ ]:
almost_there(90)

In [ ]:
almost_there(150)

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3:
            if nums[i+1] == 3:
                return True
            else:
                return False
        else:
            continue

In [ ]:
has_33([1,3,3])

In [ ]:
has_33([1,3,1,3])

In [ ]:
has_33([3,1,3])

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters.

paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    new_text = ''
    for char in text:
        new_text += 3*char
    return new_text

In [ ]:
paper_doll('Hello')

In [ ]:
paper_doll('Mississippi')

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'.

blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    total = a + b + c
    if total <= 21:
        return total
    elif total > 21:
        if a == 11 or b == 11 or c == 11:
            total -= 10
            if total <= 21:
                return total
            else:
                return 'BUST'
        else:
            return 'BUST'

In [ ]:
blackjack(5,6,7)

In [ ]:
blackjack(9,9,9)

In [ ]:
blackjack(9,9,11)

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [19]:
def summer_69(arr):
    total = 0
    add = True
    for number in arr:
        while add:
            if number != 6:
                total += number
                break
            else:
                add = False
        while not add:
            if number != 9:
                break
            else:
                add = True
                break
    return total

In [20]:
summer_69([1,3,5])

9

In [21]:
summer_69([4,5,6,7,8,9])

9

In [22]:
summer_69([2,1,6,9,11])

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order.

 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [31]:
# if 007 was one after another
def spy_game(nums):
    spy = False
    for i in range(0,len(nums)-2):
        if nums[i] == 0:
            if nums[i+1] == 0:
                if nums[i+2] == 7:
                    spy = True
                else:
                    continue
            else:
                continue
        else:
            continue
    return spy

In [32]:
spy_game([1,2,4,0,0,7,5])

True

In [33]:
spy_game([1,0,2,4,0,5,7])

False

In [40]:
# 007 not one after another
def spy_game(nums):
    spy = False
    for i in range(0,len(nums)-2):
        if nums[i] == 0:
            print("Found 0!")
            for j in range(i+1,len(nums)-1):
                if nums[j] == 0:
                    print("Found 0!")
                    for k in range(j+1,len(nums)):
                        if nums[k] == 7:
                            print("Found 7!")
                            print("Spy is here!")
                            spy = True
                            break
                        else:
                            continue
                else:
                    continue
        else:
            continue
    return spy

In [41]:
spy_game([1,2,4,0,0,7,5])

Found 0!
Found 0!
Found 7!
Spy is here!
Found 0!

True

In [42]:
spy_game([1,0,2,4,0,5,7])

Found 0!
Found 0!
Found 7!
Spy is here!
Found 0!

True

In [43]:
spy_game([1,7,2,0,4,5,0])

Found 0!

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number.

count_primes(100) --> 25
By convention, 0 and 1 are not prime.

In [95]:
from math import sqrt

#first write a function to check if a number is prime
def is_prime(num):
    prime = True
    for n in range(2,num):
        if num % n == 0:
            prime = False
        else:
            continue
    return prime

In [96]:
sqrt(10)

3.1622776601683795

In [97]:
is_prime(9)

False

In [98]:
#then a function that loops through all numbers from 2 to num and counts prime numbers
def count_primes(num):
    count = 0
    for i in range(2,num+1):
        if is_prime(i):
            count += 1
            print(f"{i} is prime!")
            continue
        else:
            count += 0
            continue
    return count

In [99]:
count_primes(10)

2 is prime!
3 is prime!
5 is prime!
7 is prime!

4

In [100]:
count_primes(100)

2 is prime!
3 is prime!
5 is prime!
7 is prime!
11 is prime!
13 is prime!
17 is prime!
19 is prime!
23 is prime!
29 is prime!
31 is prime!
37 is prime!
41 is prime!
43 is prime!
47 is prime!
53 is prime!
59 is prime!
61 is prime!
67 is prime!
71 is prime!
73 is prime!
79 is prime!
83 is prime!
89 is prime!
97 is prime!

25